
html{
    background-color: black;
}
nav {
    height: auto;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.profile_image{
    animation: slideFromLeft 0.8s ease-in-out forwards;
    width: 40vw;
    margin: 8% 0 5% 5%;
    height: 70vh;
    background-image: url(image.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 10px;
}
body{
    margin: 0px;
    padding: 0px;
}
.header{
   height: 70vh;
   width: 40%;
   background-color: black;
}
.header_item {
   padding: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-size: 2vw;
    max-width: 10vw;
    text-decoration: none;
    font-weight: bold;
}
.header_item_special{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-size: 2vw;
    min-width: 2vw;
    max-width: 10vw;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(50, 50, 239);
}
.header_item:hover{
    color: cyan;
}
.header_partTwo{
    height: auto;
    text-align: right;
    background-image: linear-gradient(180deg, #181823, #181823);
    background-size: contain;
}
.intro{
    animation: slideFromRight 0.8s 0.1s ease-in-out forwards;
    text-align: left;
    max-width: 100%;
}
.intro_text {
    margin: 30% 10% 0 8%;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 5vw;
    color: white;
}
.intro_text1 {
    margin: 30% 0 0 8%;
    margin-top: 0;
    font-family: sans-serif;
    font-size: 5vw;
    color: gray;
}
.intro_detail_text{
    margin: 5% 0 0 8%;
    font-family: sans-serif;
    font-size: 2vw;
    color: aliceblue;
    line-height: 150%;
}

@keyframes slideFromLeft{
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
}

@keyframes slideFromRight {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}