.skillset_container{
    display: flex;
    margin: 5% 0 0 5%;
}
.skillset_title{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 5vw;
}
.skillset_detail{
    color: gray;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1.8vw;
}
.skillset_collection{
width: 50%;
}
.skill_name{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2vw;
}
.skill_detail{
    color: grey;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1.8vw;
}
.container_one{
    width: 45%;
    margin-right: 5%;
}
.main_collection{
    display: flex;
    width: 70%;
}